:root {
  /* --background-color: #3c2f3d; */
  --text-color: black;
  --wrong-box: #f44336;
  --correct-box: #4caf50;
  --hover-box: #388e3c27;
  --background-color: #ececec;
  --background-dark-color: #3a3842;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid yellowgreen; */
}
body {
  color: var(--text-color);
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  user-select: none;
  touch-action: manipulation;
}

section {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

aside {
  margin: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#newGame {
  height: 60px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #0072e3;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
main {
  /* min-height: 50vh; */
  /* width: 50vh; */
  min-width: 600px;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border: 5px solid black;
  /* transform: translate(30%, 10%); */
}

body.dark main {
  border: 5px solid white;
}

#options {
  /* width: 100px; */
  height: fit-content;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #3a3842;
  color: white;
  display: none;
}

#options div {
  height: 70px;
  position: relative;
  font-size: 2em;
  vertical-align: middle;
  margin: 1%;
  box-sizing: border-box;
  padding: 7% 0 6%;
  text-align: center;
  border-radius: 5px;
  background-color: #eaeef4;
  color: #0072e3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#options div:hover {
  background-color: #dce3ed;
  cursor: pointer;
}

#options.visible {
  display: grid;
}
.tile {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2em;
  border: 1px solid var(--text-color);
  transition: all 0.5s;
  background-color: #bbdefb;
}
.fixed {
  background-color: #e5e6e6;
}
.hovering {
  background-color: #51adad;
  /* background-color: var(--hover-box); */
}
.hover-point {
  background-color: rgba(11, 135, 167, 0.356);
  cursor: pointer;
}

.tile:nth-child(3n + 1) {
  border-left: 5px solid black;
}

.borderBottom {
  border-bottom: 5px solid black;
}

.wrong_selection {
  color: red;
}
.default_text_color {
  color: black;
}
.isWrongAnswer {
  color: purple;
}

/* Other Page Formating */
header {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
i.material-icons {
  font-size: 36px;
  color: black;
  margin-left: 10px;
  cursor: pointer;
}

#bubble {
  box-shadow: none;
  width: 100px;
}

#bubble span {
  position: relative;
  top: 18px;
  left: -1px;
  background-color: #307def;
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 56px;
  height: 31px;
  text-align: center;
}

body.dark i.material-icons {
  color: #5a5e97;
}

/* Neumophism */
body {
  background-color: var(--background-color);
  transition: background 300ms;
}
.dark {
  background-color: var(--background-dark-color);
}
body .neo {
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
body.dark .neo {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  border: 8px solid var(--background-dark-color);
}
.neo:after {
  font-family: FontAwesome;
  content: "\f011";
  color: #7a7a7a;
  font-size: 10px;
}
.neomorphic {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.neomorphic:after {
  color: #15e38a;
}

span.timer {
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

/* Tiny Animation Tweak */
#setting:hover {
  animation: settings_wheel 1s ease;
}

@keyframes settings_wheel {
  100% {
    transform: rotate(360deg);
  }
}

.lightbulb:hover {
  color: rgb(168, 168, 50);
}

#logo {
  margin: 1em auto;
  text-align: center;
  font-size: 3em;
}
body.dark #logo {
  color: white;
}
body.dark .timer {
  color: white;
}

.intro:before {
  font-family: "Material Icons";
  content: "\e1c4";
  font-size: 70px;
}

.intro {
  grid-column: 1/10;
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 1s;
}

body.dark .intro {
  color: white;
}

.intro:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

/* model Popup Menu */
.model-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 200ms;
  visibility: hidden;
}
.model {
  position: relative;
  height: 30%;
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}
.model #closeModel {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.display {
  visibility: visible;
}

select {
  height: 50px;
  font-size: 15px;
}
